.app-container {
    background-color: rgb(255, 200, 200);
    height: 100vh;
    width: 100vw;
}

.page-container {
    margin: 4em;
    text-align: center;
    &:not(#home) {
        display: none;
    }
}